$font-stack: helvetica, sans-serif

//html
//  text-align: center

.video
	iframe
		display: block
		margin-left: auto
		margin-right: auto
		margin-bottom: 10px

img.portrait
	width: 360
	display: block
	margin-left: auto
	margin-right: auto
	margin-top: 10px

div.bio
	margin-right: 210px
	margin-left: 210px
	
	p.title
		font-family: $font-stack, bold
		font-size: 32px
		text-align: center
		margin-top: 30px
		margin-bottom: 10px
	p.description
		font-family: $font-stack
		font-size: 16px
		vertical-align: middle
		text-align: left
		margin-top: 10px
		margin-bottom: 10px

p.contact
	font-family: $font-stack, bold
	font-size: 32px
	text-align: center
	margin-top: 30px
	margin-bottom: 10px

div.links
	font-family: $font-stack
	font-size: 16px
	text-align: center
	
	p
		margin-top: 30px
		margin-bottom: 10px
		font-family: $font-stack, bold
		font-size: 32px
	a
		margin-left: auto
		margin-right: auto
	img
		max-width: 25%
		height: auto
	
	#doc
		font-size: 64px
	//#social
		//max-width: 4%

h1, h3
	text-align: center
	font-family: $font-stack

h5
	text-align: left
	font-family: $font-stack
