$font-stack: arial, sans-serif

html
  text-align: center

h1
  font-family: futura-bold, sans-serif
  font-size: 2.5rem

p
  font-family: $font-stack
  font-size: 1.5rem

ul
  list-style-type: none

nav
  display: flex
  align-items: center
  justify-content: space-between

  ul
    margin: 0
    padding: 0
    list-style-type: none
    overflow: hidden

#home
  font-size: 2rem
