$font-stack: helvetica, sans-serif

//html
//  text-align: center

img.portrait
	width: 360
	display: block
	margin-left: auto
	margin-right: auto

img.logo
	width: 360
	display: block
	margin-left: auto
	margin-right: auto

div.bio
	font-family: $font-stack
	margin-right: 210px
	margin-left: 210px
	
	p.title
		font-size: 16px
		text-align: center
		margin-top: 30px
		margin-bottom: 10px
	p.description
		font-size: 16px
		vertical-align: middle
		text-align: left
		margin-top: 10px
		margin-bottom: 10px

p.contact
	font-family: $font-stack
	font-size: 16px
	text-align: center
	margin-top: 30px
	margin-bottom: 10px

div.links
	font-family: $font-stack
	font-size: 16px
	text-align: center
	
	p
		margin-top: 30px
		margin-bottom: 10px
	a
		margin-left: auto
		margin-right: auto
	img
		max-width: 25%
		height: auto

h1, h3
	text-align: center
	font-family: $font-stack

h5
	text-align: left
	font-family: $font-stack
